extends layout

block content
  h1
    "User test App!"
  
  div
    p grrrrr app
  div
    a(href="/routes/addUser") Add User Form
  div
    p
      | this is the start of the para 
      a(href="http://example.com") a link
      |  this is he rest of the paragraph.
  h1
    User List
  ul
    each user in userlist
        li=user.email + ' from ' + user.username
